<!doctype html>
<title>App 1</title>

<link id="mode" rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link id="mode2" rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link id="mode3" rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

{% include 'navbar.html' %}
<section class="content">
    <div class="container">
        {% include 'modal.html' %}
        <header>
            {% block header %}{% endblock %}
        </header>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>