<div class="container"><div class="columns"><div class="column">
    <div class="navbar">
        <div class="navbar-section">
            <a class="navbar-brand text-bold mr-2" href="./index">App 1</a>
            <a class="btn btn-link" href="./temperature">Temperatures</a>
            <a class="btn btn-link" href="./graph">Graph</a>
            <a class="btn btn-link" href="https://github.com/emsquellen/IOT-ESP32-Workspace">GitHub</a>
        </div>
        <div class="navbar-section">
            <a class="btn btn-link" onclick='(function() {document.getElementById("settingsMenu").classList.add("active");})();'
            >Settings</a>
            <a class="btn btn-link" onclick='(function() {document.getElementById("modalPopUp").classList.add("active");})();'
            >Information</a>
            <a class="btn btn-primary" id="ledbutton"
            >Toggle led</a>
        </div>
    </div>
</div></div></div>